@media all and (max-width: 767px) {
    body {
        width: 480px;
        margin: 0px auto;
        /* min-width: 480px; */
    }
    .container{

        display: flex;
        flex-direction:column ;
    }
    
    #div1{
  
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #div2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    header {
        height: 75px;
        width: 480px;
       
    }
    #floatedC {
        height: 125px;
        width: 480px;
    }
    #floatedD {
        height: 125px;
        width: 480px;
        
    }
    aside {
        height: 150px;
        width: 480px;
    }
    #floatedE {
        width: 240px;
        height: 250px;
        align-self:flex-start ;
    }
    #floatedF {
        width: 240px;
        height: 250px;
        align-self:flex-end ;
    }
    #floatedG {
        width: 240px;
        height: 250px;
      
        clear: left;
    }
    #floatedH {
        width: 240px;
        height: 250px;
      
    }
    footer {
        width: 480px;
        height: 80px;
        clear: left;
        /* display: flex; */
        /* align-items: center;
        justify-content: center; */
      
    }
}

@media all and (min-width:768px) {
    body {
        width: 960px;
        margin: 0px auto;
        /* max-width: 960px; */
    }
    header {
        height: 100px;
        width: 960px;
        display: flex;
        align-items: center;
        justify-content: center;
        order: 1;
    }
   
    aside {
        height: 600px;
        width: 200px;
        display: flex;
    align-items: center;
    justify-content: center;
    order: 1;
      
    }
    #innerDiv{
        order: 2;
        display: flex;
        flex-direction: column;
       
    }
    
    #div1{
        order: 1;
        display: flex;
    }
    #div2{
        order: 2;
        display: flex;
    }
    
    #floatedC {
        height: 200px;
        width: 380px;
      
    }
    #floatedD {
        height: 200px;
        width: 380px;
      
    }
    #floatedE {
        width: 190px;
        height: 250px;
      
    }
    #floatedF {
        width: 190px;
        height: 250px;
      
    }
    #floatedG {
        width: 190px;
        height: 250px;
      
    }
    #floatedH {
        width: 190px;
        height: 250px;
      
    }
    footer {
        width: 760px;
        height: 150px;
      
    }
}