@media all and (max-width: 767px) {
    body {
        width: 100vw;
        /* margin: 0px auto; */
        /* min-width: 100vw; */
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    #div1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #div2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    header {
        height: 75px;
        width: 100vw;
    }
    #floatedC {
        height: 125px;
        width: 100vw;
    }
    #floatedD {
        height: 125px;
        width: 100vw;
    }
    aside {
        height: 150px;
        width: 100vw;
    }
    #floatedE {
        width: 50vw;
        height: 250px;
        align-self: flex-start;
    }
    #floatedF {
        width: 50vw;
        height: 250px;
        align-self: flex-end;
    }
    #floatedG {
        width: 50vw;
        height: 250px;
        clear: left;
    }
    #floatedH {
        width: 50vw;
        height: 250px;
    }
    footer {
        width: 100vw;
        height: 80px;
        clear: left;
        /* display: flex; */
        /* align-items: center;
        justify-content: center; */
    }
}

@media all and (min-width:768px) {
    body {
        width: 100vw;
        /* margin: 0px auto; */
        /* max-width: 100%; */
    }
    .container {
        width: 100vw;
    }
    header {
        height: 100px;
        width: 100vw;
    }
    aside {
        height: 600px;
        width: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main {
        flex-wrap: wrap;
        display: flex;
        width: 100vw;
    }
    #div3,
    #div1,
    #div2,
    #div4 {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #div1,
    #div2 {
        width: 40vw;
    }
    #div3,
    #div4,
    #innerDiv {
        width: 80vw;
    }
    #floatedC {
        height: 200px;
        width: 40vw;
    }
    #floatedD {
        height: 200px;
        width: 40vw;
    }
    #floatedE {
        width: 20vw;
        height: 250px;
    }
    #floatedF {
        width: 20vw;
        height: 250px;
    }
    #floatedG {
        width: 20vw;
        height: 250px;
    }
    #floatedH {
        width: 20vw;
        height: 250px;
    }
    footer {
        width: 80vw;
        height: 150px;
        justify-content: center;
        align-items: center;
    }
}